<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{main}">
    <head>
    </head>
        <!--Második szekció-->
        <section layout:fragment="mainContent">
            <div class="container">
                <div class="row box">
                    <h3 class="text-center">Feltöltés alatt</h3>
                </div>
            </div>
        </section>
    </body>
</html>
